@{
    ViewData["Title"] = "Home Page";
}

<h1 style="font-family:Impact; text-align:center">Running Shoe Questionnaire</h1>
<hr />
<p style="width:50%; margin-left:25%; text-align:center">Welcome to the site that makes your life a million times easier when in search of new running shoes! Take it from those that have tried to search with no recommendations already in place, this quiz will set you up for a quick and painless online search by narrowing down your preferences and getting to know you at an individual level! The destiny of your feet awaits...</p>
<div style="text-align:center">
    <a style="font-family:cursive; font-size:x-large" asp-controller="Home" asp-action="Questionaire">Begin Questionnaire</a>
</div>
