@model List<Brand>
@{
    ViewData["Title"] = "Results";
}

<h2>Results</h2>

@{
    Questionaire questionaire = new Questionaire();
    if (questionaire.Terrain != null && (questionaire.Terrain.Equals("Trail") || questionaire.Terrain.Equals("All-Terrain")))
    {
        var trailAndAllTerrainFilter = Model.Where(x => x.Name != "Nike" && x.Name != "Adidas" && x.Name != "New Balance").ToList();
        foreach (var item in trailAndAllTerrainFilter)
        {
            <p>@item.Name | @item.AvgCost</p>
        }
    }
}